.tirResult {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding: 15px;
}

.tirResult-lobes {
  display: flex;
  justify-content: center;
}

.tirResult-isthmus {
  text-align: center;
}

.tirResult-rightLobe {
  text-align: left;
  padding-right: 15px;
}

.tirResult-leftLobe {
  text-align: right;
  padding-left: 15px;
}

.tirResult-sumVolume {
  text-align: center;
}
