.prostateVolumeCalc-inputs {
  background: rgba(120, 135, 163, 0.212);
  box-shadow: 0px 0px 15px 0px rgb(34 60 80 / 44%);
  padding: 35px 15px 15px 15px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.prostateVolumeCalc-inputs input {
  height: 30px;
  margin: 5px;
  font-size: 1.3rem;
}

.prostateVolumeCalc-inputs label {
  display: flex;
  justify-content: space-between;
}

.prostateVolumeCalc-result {
  display: flex;
  justify-content: center;
  padding: 15px;
}
