.links {
  width: 900px;
}

.links-list {
  max-width: 900px;
  padding: 10px;
  font-size: 1.2rem;
}

.links-list ul li {
  margin-top: 15px;
}

@media screen and (max-width: 1024px) {
  .links {
    width: 100%;
  }
}
