.about {
  padding-left: 50px;
  padding-right: 50px;
  font-size: 1.2rem;
  width: 1024px;
  box-sizing: border-box;
}
@media screen and (max-width: 1024px) {
  .about {
    width: 100%;
    font-size: 1.2rem;
  }
}
