.navbar {
  height: 90px;
  background-color: rgb(116, 158, 236);
  width: 100%;
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 100px;
  box-sizing: border-box;
}

.navbar-logo {
  color: white;
  font-size: 2.2rem;
  text-decoration: none;
}

.navbar-menu-opener {
  color: white;
  cursor: pointer;
  text-decoration: none;
  height: 90%;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  transition: all 0.3s;
  box-sizing: border-box;
  font-size: 1.3rem;
}

.navbar-menu-opener:hover {
  background-color: rgba(255, 255, 255, 0.884);
  color: black;
}

.active {
  background: rgb(115, 147, 216);
  color: rgb(255, 255, 255);
  box-shadow: 0px 0px 26px 2px rgba(34, 60, 80, 0.27) inset;
}

.navbar-burger {
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
  display: none;
}

.navbar-burger:after {
  content: "";
  width: 30px;
  background-color: white;
  position: absolute;
  height: 4px;
  bottom: 0;
}

.navbar-burger:before {
  content: "";
  width: 30px;
  background-color: white;
  position: absolute;
  height: 4px;
  top: 0;
}

.navbar-burger span {
  position: absolute;
  width: 30px;
  background-color: white;
  height: 4px;
  top: 13px;
}

.navbar-burger-menu {
  width: 100%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 90px;
  left: 0;
  color: white;
  transform: translateX(-100%);
  justify-content: center;
  display: flex;
  z-index: 2;
  transition: all 0.4s;
  padding-bottom: 50px;
}

.navbar-burger-menu-open {
  transform: translateX(0);
}

.navbar-burger-links {
  width: 1000px;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.navbar-burger-link {
  font-size: 1.6rem;
  margin-top: 20px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

.navbar-burger-link:hover {
  background: rgb(115, 147, 216);
  color: rgb(255, 255, 255);
}

.navbar-burger-menu li {
  background: white;
  width: 100%;
  height: 200px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.navbar-burger-menu li a {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .navbar {
    padding-left: 20px;
    padding-right: 20px;
  }

  .navbar-logo {
    font-size: 1.6rem;
  }

  .navbar-menu-opener {
    display: none;
  }

  .navbar-burger {
    display: flex;
  }

  .navbar-burger-links {
    width: 100%;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 500px) {
  .navbar-burger-links {
    grid-template-columns: 1fr;
  }
}
