.bladderVolume {
  width: 500px;
}

.bladderVolume-inputs {
  background: rgba(120, 135, 163, 0.212);
  box-shadow: 0px 0px 15px 0px rgb(34 60 80 / 44%);
  padding: 35px 15px 15px 15px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.bladderVolume-inputs input {
  height: 30px;
  margin: 5px;
  font-size: 1.3rem;
}

.bladderVolume-result {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.bladderVolume-result h3 {
  text-align: center;
}

@media screen and (max-width: 500px) {
  .bladderVolume {
    width: 100%;
  }
  .bladderVolume-inputs input {
    width: 200px;
  }
}
