.tirVolume {
  display: flex;
  flex-direction: column;
}

.tirVolume label {
  display: flex;
  justify-content: space-between;
}

.tirVolume input {
  width: 80px;
}

.tirVolume-inputs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: rgba(120, 135, 163, 0.212);
  box-shadow: 0px 0px 15px 0px rgb(34 60 80 / 44%);
  padding: 30px 15px 15px 15px;
  position: relative;
}

.tirVolume-resultParams {
  margin: 0;
  margin-top: 10px;
}

.tirVolume-resultParams p {
  margin: 0;
  margin-top: 10px;
}
.tirVolume-calcBtn {
  font-size: 1.2rem;
  padding: 10px;
  background-color: rgb(43, 122, 226);
  border: none;
  color: wheat;
  cursor: pointer;
  margin-top: 15px;
}

.tirVolume-calcBtn:hover {
  background-color: rgb(76, 145, 235);
}

.tirVolume-calcBtn:active {
  box-shadow: 2px 0px 37px -1px rgba(34, 60, 80, 0.68) inset;
}

hr {
  background-color: rgba(41, 41, 41, 0.356);
  height: 1px;
  width: 100%;
}

.tirVolume-resetBtn {
  font-size: 1.2rem;
  padding: 10px;
  background-color: rgb(240, 102, 60);
  border: none;
  color: wheat;
  cursor: pointer;
}
