.app {
  width: 1200px;
  margin: 0 auto;
  padding: 30px;
  background: rgba(102, 135, 197, 0.212);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h3 {
  margin: 0;
}
h4 {
  margin: 0;
}

.nodeCriterion {
  display: flex;
  flex-direction: column;
  width: 450px;
  background: rgba(89, 127, 197, 0.212);

  padding: 10px;
}

.node {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
