.app {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}
h1 {
  text-align: center;
}
h3,
h4 {
  margin: 0;
}

.nodeCriterion {
  display: flex;
  flex-direction: column;
  width: 460px;
  background: rgba(120, 135, 163, 0.212);
  padding: 20px;
  position: relative;
  box-sizing: border-box;
}

.node {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  font-size: 1.1rem;
}
.component-title {
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .app {
    padding: 0;
    width: 100%;
  }

  h1 {
    text-align: center;
    font-size: 1.4rem;
  }
  .node {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
  }
  label {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  input {
    display: inline-block;
    width: auto;
    margin-right: 15px;
  }
}

@media screen and (max-width: 500px) {
  .nodeCriterion {
    width: 100%;
  }
  .question-window {
    width: 95%;
  }
}
