.app {
  /* width: 1200px; */
  margin: 0 auto;
  padding: 30px;
  /* background: rgba(102, 135, 197, 0.212); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  text-align: center;
}
h3,
h4 {
  margin: 0;
}

.nodeCriterion {
  display: flex;
  flex-direction: column;
  max-width: 470px;
  background: rgba(89, 127, 197, 0.212);
  padding: 10px;
}

.node {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  font-size: 1.1rem;
}

@media screen and (max-width: 900px) {
  .app {
    width: 100%;
    padding: 5px;
  }

  h1 {
    text-align: center;
    font-size: 1.4rem;
  }
  .node {
    display: flex;
    flex-direction: column;
  }
}
